<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="false">

    <!--
    1. Logback tries to find a file called logback.groovy in the classpath.
    2. If no such file is found, logback tries to find a file called logback-test.xml
       in the classpath.
    3. If no such file is found, it checks for the file logback.xml in the classpath.
    4. In case neither file is found, logback configures itself automatically using
       the BasicConfigurator which will cause logging output to be directed on the console.

       See http://logback.qos.ch/manual/configuration.html
     -->
    <property name="LOG_HOME" value="./log"/>

    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>log/app.log</file>-->

        <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
            <!--<fileNamePattern>log/app.%i.log.gz</fileNamePattern>-->
            <!--<minIndex>1</minIndex>-->
            <!--<maxIndex>12</maxIndex>-->
        <!--</rollingPolicy>-->

        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
            <!--<maxFileSize>10MB</maxFileSize>-->
        <!--</triggeringPolicy>-->

        <!--<encoder>-->
            <!--&lt;!&ndash; Note that MDC is added via myAppMDCMap &ndash;&gt;-->
            <!--<pattern>%d{ISO8601} %-5level [%thread] %logger{36} - [%X{myAppMDCMap}] - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <logger level="@LOG_LEVEL@" name="com.newbig" />
    <logger level="INFO" name="org.springframework.web.servlet.mvc.method.annotation" />
    <logger level="WARN" name="org.springframework.jdbc.core" />
    <logger level="ERROR" name="org.apache.http.wire" />
    <logger level="ERROR" name="c.q.l.core" />
    <logger level="ERROR" name="ch.qos.logback" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>
    <appender name="BIZLOG_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logFileName</key>
            <defaultValue>bizLog</defaultValue>
        </discriminator>
        <sift>
            <!-- A standard RollingFileAppender, the log file is based on 'logFileName' at runtime  -->
            <appender name="FILE-${logFileName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_HOME}/bizLog/${logFileName}.log</file>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>%msg%n</Pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${LOG_HOME}/bizLog/${logFileName}.%d{yyyy-MM-dd}.log</FileNamePattern>
                    <maxHistory>10</maxHistory>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <logger name="bizLogger" level="INFO" additivity="false">
        <appender-ref ref="BIZLOG_FILE"/>
    </logger>
    <!-- For root loggers, log to FILE appender -->
    <root level="@LOG_LEVEL@">
        <!--<appender-ref ref="FILE" />-->
         <appender-ref ref="STDOUT" />
     </root>

   </configuration>
